#Run result artifacts
results/**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# Logfire
.logfire/

# Environment variables
.env

# VSCode settings
.vscode/